services:
  quadro_web:
    ports:
      - '3000:3000'
    build:
      context: .
    environment:
      DATABASE_URL: ${DATABASE_URL}

  quadro_db:
    image: postgres:13.1-alpine
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    volumes:
      - postgres:/data/postgres
    ports:
      - '5432:5432'

  quadro_db_migrate:
    build:
      context: prisma
    depends_on:
      - postgres
    environment:
      DATABASE_URL: ${DATABASE_URL}

volumes:
  postgres:
